.navbar {
  background-color: #1f5156;
  height: 70px;
  display: flex;
  justify-content: center;
  width:100%;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 20;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
}
.nav-logo {
  color: #f5b921;
  align-items: center;
  margin-left: 5%;
  cursor: pointer;
  text-decoration: none;
  font-size: 35px;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  padding-right:30px;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:20px;
  height: 100%;
  border-bottom: 3px solid transparent;
}

.nav-item {
  line-height: 25px;
  margin-right: 0px;
}

.nav-item:after {
  content: "";
  display: block;
  height:3px;
  width: 0px;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #ffdd40;
}

.nav-item .active {
  color: #ffdd40;
  font-size:24px;
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 667px) {
	.navbar{
		height:60px;
	}
	.nav-container{
		height:60px;
	}
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 35%;
    position: absolute;
    top: -500%;
    right:50%;
    opacity: 1;
    transition: all .25s ease;
    text-align:left;
  }

  .nav-menu.active {
    background: #1f5156;
    text-align:left;
    top:60px;
    right:0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    border-bottom-left-radius: 20%;
    margin-top:0px;
  }
	.nav-item .active {
		color: #ffdd40;		
		font-size:20px;
	}
  .nav-links {
    padding: 12px;
    width: 100%;
    display: table;
  }

  .nav-icon {
	margin-right:5%;
	font-size:24px;
	display:block;
    cursor: pointer;
    color: #ffdd40;
  }
  .nav-logo{
	font-size:30px;
  }
}
